*{
    margin: 0px;
    padding: 0px;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}

span{
    margin: 25px;
    /* width: 100vw; */
}

nav{
    background-color: rgb(24,24,24);
    padding: 25px;
    text-align: center;
    color: white;
    font-size: 12px ;
    left: 0px;
    top: 0px;
    position: fixed;
    min-width: 100%;
    right: 0px;
    z-index: 1;

}
.menu{
    display: none;
}
.navrespo{
    overflow: auto;
}
@media only screen and (max-width: 786px){
    .navrespo{
        min-width: 50%;
        display: none;
    }
    .text-watch-main-apple{
        padding-right: 250px;
    }
    .text-watch-main{
        text-align: end;
        padding-left: 200px;
    }
    .menu{
        display: contents;
        min-width: none;
    }
}


.store-section-list{
    list-style: none;
    text-align: left;
    margin-left: 7em;
    padding-top: 1em;
    padding: 5px;
    font-size: 25px;
}


.hidden-section{
    /* position: fixed; */
    overflow: hidden; 
    height: 0px;
    opacity: 0;
    transition:  0.9s ease-in;

}
 a{
    color: inherit;
    text-decoration: none;
 }
.text-store:hover ~ .hidden-store-section{
    height: 25rem;
    opacity: 1;

}

.text-mac:hover ~ .hidden-mac-section{
    height: 25rem;
    opacity: 1;
}
.text-ipad:hover ~ .hidden-ipad-section{
    height: 25rem;
    opacity: 1;
}
.text-iphone:hover ~ .hidden-iphone-section{
    height: 25rem;
    opacity: 1;
}
.text-watch:hover ~ .hidden-watch-section{
    height: 25rem;
    opacity: 1;
}
.shop{
    font-size: 15px;
    color: rgb(110,110,115);
}
.list-container{
    display: flex;
    padding: 30PX;
}
.store-section-list1{
    list-style: none;
    text-align: left;
    margin-left: 9em;
    padding-top: 1em;
    font-size: 12px;
    padding: 10px;
}
.image{
    width: 15px;
}

.apple{
    margin-top: 4em;
    width: 20%;
    text-align: center;
    /* position: fixed; */
}

.apple1{
    background-color: black;
    text-align: center;
    /* height: 50px; */
}

.wdc{
    color: white;
    font-size: 50px; 
    /* font-family: Tahoma, Verdana, sans-serif; */
    letter-spacing: -3px;
} 

.wdc1{
    margin-bottom: 3px;
}

.one{
    color: white;
    font-size: 25px;
    /* font-family: Tahoma, Verdana, sans-serif; */
    margin-bottom: 30px;
}

.one1{
    margin-bottom: 20px;
}

#but{
    background-color: rgb(0,113,227);
    color: white;
    padding: 11px;
    border-radius: 21px;
    font-size: 17px;
    width: 125px;
    text-align: center;
    margin-right: 29px;
    margin-bottom: 40px;
    border: 1px groove  rgb(0,113,227);
}

.but{
    text-align: center;
    margin-top: 40px;
}

.iphone15pro{
    background-color: black;
    text-align: center;
    margin-top: 10px;
}

.ipone{
    color: white;
    font-size: 50px;
    text-align: center;
    padding-top: 25px;
}

.ipone1{
    color: white;
    font-size: 30px;
    text-align: center;
}

.pro{
    text-align: center;
    width: 63%;
    margin-left: 20%;
    /* margin-top: 200px; */
}

.but{
    margin-right: 15px;
}

#but1{
    background-color: rgb(0,113,227);
    color: white;
    padding: 11px;
    border-radius: 21px;
    font-size: 17px;
    width: 125px;
    text-align: center;
    margin-right: 29px;
    margin-top: 30px;
    margin: 12px;
    border: 1px groove  rgb(0,113,227); 
    
}

#but1-1{
    background-color: rgb(0, 0, 0);
    color: rgb(0,113,227);
    padding: 11px;
    border-radius: 21px;
    font-size: 17px;
    width: 75px;
    text-align: center;
    margin-right: 29px;
    margin-top: 30px;
    border: 1px groove  rgb(0,113,227); 
}
#but1-1:hover{
    background-color: rgb(0,113,227);
    color: white;
}
.ipadpro{
    background-color: black;
    text-align: center;
    margin-top: 10px;
}
#ipro{
    color: white;
    font-size: 50px;
    /* font-family: Tahoma, Verdana, sans-serif; */
    text-align: center;
    padding-top: 25px;
}
.iprosub{
    color: white;
    font-size: 30px;
    text-align: center;
}
.ipro-img{
    width: 79%;
    margin-top: 25px;
}






.image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: end;
    /* align-items: start; */


}
.student-bnt{
    position: absolute;
    padding-bottom: 61px;
}
  
.image-container img {
    display: flex;
    width: 100%;
    height: auto;
    padding: 10px;
}
.imagesection-two{
    padding-left: 29px;
    width: 96%;
    display: flex;
}

.imagesection-three{
    padding-left: 29px;
    width: 96%;
    display: flex;
    position: relative;
}
  
.overlay-text {
    position: absolute;
    display: inline-block;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* top: 63%;  */
    color: #ffffff; 
    font-size: 40px; 
    padding-bottom: 145px;
/
}
.overlay-text1-1 {
    position: absolute;
    /* top: 73%;  */
    /* left: 36%;   */
    color: #fff; 
    /* padding: 10px 20px;  */
    font-size: 20px; 
    text-align: center;
    padding-bottom: 114px;
    /* font-family: Tahoma, Verdana, sans-serif; */
}
.image-container2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.image-container2 img {
    display: block;
    width: 100%;
    height: auto;
    padding: 10px 10px 10px 20px;
}

  
.overlay-text2 {

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    justify-content: start;
    align-items: start;
    padding-bottom: 323px;
}
#but11{
    /* position: absolute; */
    background-color: rgb(0,113,227);
    color: white;
    padding: 11px;
    border-radius: 21px;
    font-size: 17px;
    width: 125px;

    border: 1px groove  rgb(0,113,227); 
    /* bottom: 38px; */

}


 #alogo{
    width: 50px;
    height: 50px;
 }
.aalogo{
    position: relative  ;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;

 
}
.alogo{
    position: sticky;
}
.series-iwatch{
    display: flex;
    justify-content: center;
    position: absolute;
}

.s9{
    position: absolute;
    /* position: relative; */
    /* padding-bottom: 30%; */
    color: rgb(154, 17, 18);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}
.s91{
    position: absolute;
    padding-top: 100px;
   
}

#s92{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 100px;
    /* bottom: 11em; */
}
#but111{
    position: absolute;
    background-color: rgb(0,113,227);
    color: white;
    padding: 8px;
    border-radius: 21px;
    font-size: 17px;
    width: 115px;
    position: relative;

    border: 1px groove  rgb(0,113,227); 
    padding: 5px;

}
#but1-12{
    background-color: rgb(0, 0, 0);
    color: rgb(0,113,227);
    padding: 8px;
    border-radius: 21px;
    font-size: 17px;
    width: 75px;
    position: relative;
    border: 1px groove  rgb(0,113,227); 
}
#but1-12:hover{
    background-color: rgb(0,113,227);
    color: white;
}
.image-container3 {
    position: relative;
    display: inline-block;
}
  
.image-container3 img {
    display: flex;
    width: 50%;
    height: auto;
    padding: 10px;
    /* flex: 10%; */
}
.Vision{
    width: 100%;
    height: 10%;
    display: flex;
    /* padding: 10px; */
    
}
  
.overlay-text1-2 {
    position: absolute;
    top: 80%; 
    left: 13%; 
    color: #000000; 
    /* padding: 10px 20px;  */
    font-size: 20px; 
    text-align: center;
    /* font-family: Tahoma, Verdana, sans-serif; */
}
.overlay-text4 {
    position: absolute;
    top: 66%; 
    left: 16%; 
    color: #000000; 
    font-size: 60px; 
    text-align: center;

}
#but11-1{
    position: absolute;
    /* display: flex; */
    background-color: rgb(0,113,227);
    color: white;
    padding: 11px;
    border-radius: 21px;
    font-size: 17px;
    width: 125px;
    text-align: center;
    border: 1px groove  rgb(0,113,227); 
    bottom: 30px;
    /* text-align: center; */
    margin-left: 16%;
}
#but1-2{
    position:absolute;
    /* display: flex; */
    background-color: rgb(255, 255, 255);
    color: rgb(0,113,227);
    padding: 8px;
    border-radius: 21px;
    font-size: 17px;
    width: 75px;
    bottom: 33px;
    /* text-align: center; */
    margin-left: 25%;
    /* margin-top: 7px; */
    border: 1px groove  rgb(0,113,227); 
}
#but1-2:hover{
    background-color: rgb(0,113,227);
    color: white;
}

.image-container4 {
    position: relative;
    display: inline-block;
}
  
.image-container4 img {
    display: block;
    width: 50%;
    height: auto;
    padding: 10px;
    /* flex: 10%; */
}

.overlay-text1-23 {
    position: absolute;
    top: 80%; 
    left: 13%; 
    color: #000000; 
    /* padding: 10px 20px;  */
    font-size: 20px; 
    text-align: center;
    /* font-family: Tahoma, Verdana, sans-serif; */
}
.overlay-text41 {
    position: absolute;
    top: 66%; 
    left: 16%; 
    color: #000000; 
    /* padding: 10px 20px;  */
    font-size: 60px; 
    text-align: center;
    /* font-family: Tahoma, Verdana, sans-serif; */
}
#black-icon{
    width: 44px;
    /* margin-top:  16px; */
}
.overlay-text-vision-main{
    display: flex;
    /* justify-content: end;
    align-items: start; */
    justify-content: center;
    align-items: center;
}
.overlay-text-vision{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000; 
    font-size: 54px; 
    padding-bottom: 272px;


}
.vlogo{
    display: flex;
    text-align:center;
    margin-top: 16px;
    font-size: 54px; 
}
.overlay-text1-vision {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 4em; 
    color: #000000; 
    font-size: 20px; 

}

.apple-lear-bnt{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 103px;
}
#but-vision{
    background-color: rgb(0,113,227);
    font-size:17px ;
    padding: 8px;
    border-radius:20px ;
    border: 1px groove  rgb(0,113,227); 
}
#but-vision2{
    background-color: rgb(255, 255, 255);
    font-size:17px ;
    width: 100px;
    padding: 8px;
    border-radius:20px ;
    border: 1px groove  rgb(0,113,227); 
    color:  rgb(0,113,227);
    
}
/* .but-vision{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0,113,227);
    color: white;
    padding: 11px;
    border-radius: 21px;
    font-size: 17px;
    width: 125px;
    border: 1px groove  rgb(0,113,227); 
}
.but-vision2{
    position:absolute;
    background-color: rgb(255, 255, 255);
    color: rgb(0,113,227);
    padding: 8px;
    border-radius: 21px;
    font-size: 17px;
    width: 75px;
    border: 1px groove  rgb(0,113,227); 
} */
#but-vision2:hover{
    background-color: rgb(0,113,227);
    color: white;
}
#award-bnt{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.award{
    position: relative;
    display: flex;
    font-size: 30px;
    padding-bottom: 345px;

}
.award-sub-main{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 218px;
}
.overlay-text2-award{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;


}

#but-award{
    position: absolute;
    background-color: rgb(0,113,227);
    color: white;
    padding: 8px;
    border-radius: 21px;
    font-size: 17px;
    width: 154px;
    border: 1px groove  rgb(0,113,227); 
}
.image-container2-main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: end;
}
.sec-card{
    position: relative;
    color: #000000; 
    /* padding: 10px 20px;  */
    font-size: 55px; 
    text-align: center;
    /* font-family: Tahoma, Verdana, sans-serif; */
}
.sec-card1{
    position: absolute;
    top: 77px;  
    color: #000000; 
    font-size: 15px; 
    text-align: center;
    width: 226px;
}
.main-card-sec{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: start;
}
/* #black-icon-card{
    width: 44px;
    margin-top:  16px;
    margin-left: 10px;
} */

.Card{
    display: flex;
    justify-content: start;
    align-items: start;
    position: absolute;
    color: #fff; 
    font-size: 20px; 
    padding-bottom: 413px;
}



.but-cards-main{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top:8em;
    padding: 10px;
    margin: 10px;
}
#but-cards{
    background-color: rgb(0,113,227);
    color: white;
    padding: 8px;
    font-size: 17px;
    border: 1px groove  rgb(0,113,227); 
    border-radius: 21px;
}
#but-card{
    background-color: rgb(255, 255, 255);
    font-size:17px ;
    width: 100px;
    padding: 8px;
    border-radius:20px ;
    border: 1px groove  rgb(0,113,227); 
    color:  rgb(0,113,227);
}
#but-card:hover{
    background-color: rgb(0,113,227);
    color: white;
}
#trade-bnt{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}
/* #but-cards{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 4em;
    background-color: rgb(0,113,227);
    color: white;
    padding: 11px;
    border-radius: 21px;
    font-size: 17px;
    width: 122px;
    text-align: center;
    border: 1px groove  rgb(0,113,227); 

} */
 #black-icon-card2{
    width: 50px;
 }
 .overlay-text2-trade-main{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-bottom: 160px;
 }
.tarde{
    display: flex;

    font-size: 48px;
    color: #000000;
}
.trade-sub{

    color: #000000;
    text-align: center;

}
.trade-in{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
#trades{
    position: absolute;
    background-color: rgb(0,113,227);
    color: white;
    padding: 8px;
    border-radius: 21px;
    font-size: 17px;
    width: 163px;
    border: 1px groove  rgb(0,113,227); 
}
/* .movie{
    display: block;
    position: relative;
    display: inline-block;
}
#sugar{
    display: flex;
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; 
}
#dark-matter{
    display: flex;
    width: 30%;
    margin-bottom: ;
} */
div.scroll-container {
    background-color: #ffffff;
    /* overflow: auto; */
    white-space: nowrap;
    padding: 5px;
}
  
  div.scroll-container img {
    padding: 5px;
}
.Samllimage{
    background-color: #ffffff;
    overflow: auto;
    white-space: nowrap;
    padding: 5px;
  }
/*   
.Samllimage img {
    padding: 5px;
} */
.Samllimage{
    position: relative;
    width: 99%;
}
.img{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.Samllimage:hover .img{
    opacity: 0.3;
}
.Smallimage:hover .hover{
    opacity: 1;
}

.hover{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.text{
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}



footer{
    background-color:rgb(245,245,247) ;
    padding-top: 40px;
}
.footer-text{
    font-size: 10px;
    text-align: justify;
    width: 50%;
    /* margin-left: 368px;   */
    color: rgb(68,68,69);
    line-height: 13px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(68,68,69) ; 
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  */
    opacity: 0.5;
}
.ul{

    display: flex;
    font-size: 10px;
    text-align: justify;
    width: 100%;
    /* margin-left: 368px; */
    color: rgb(68,68,69);
    opacity: 0.5;
    line-height: 10px;
}
ul.no-bullets {
    list-style-type: none;
    line-height: 25px;
    width: 100vw;
    overflow: auto;
}
#list{
    margin-left: 0px;
    color: #000000;
    margin-bottom: 20px;
}
b{
    color: #000000;

}
.inside{

    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    text-align: justify;
    width: 97%;
    color: rgb(68,68,69);
    line-height: 13px;
    border-bottom: 1px solid rgb(68,68,69) ; 
    margin-bottom: 20px;
    padding: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    opacity: 0.5;
    line-height: 10px;
}